@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav {
  height: 70px; 
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #cafdff;
}

header {
  background-color: white;
  padding: 24px;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #333;
}

.subheader {
  font-size: 36px;
  color: #555;
  margin-top: 16px;
  margin: 8px 16px 0 16px;
}

button {
  margin-top: 24px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
}

.logo {
  font-size: 16px; 
  font-weight: none;
  width: 100px;
  padding: 0 16px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 16px;
}

.row {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about, 
#contact 
#discord
footer {
  padding: 48px 0;
}

/*

ABOUT

*/

#about {
  background-color: coral;
}

h2{
  font-size: 36px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__img--wrapper {
  width: 100%;
  max-width: 600px;
  margin-top: 24px;
  padding: 0 24px;
}

img {
  width: 50%;
  height: auto;
}

.section__description--wrapper {
  width: 100%;
  padding: 0 24px;
}

.section__description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

/*

DISCORD

*/

#discord {
  padding: 48px 0;
  background-color: white;
}

/*

CONTACT

*/

#contact {
  background-color: #cafdff;
  }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

input, textarea {
  margin-bottom: 24px;
  padding: 6px 12px;
  font-size: 20PX;
}

/*

FOOTER

*/

footer {
  background-color: greenyellow
  ;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  max-width: 480px;
  margin-bottom: 16px;
}

.footer__links {
  margin-bottom: 32px;
}

.footer__link {
  padding: 0 16px;
}

